body{
    margin: 0px auto;
    height: 0px;
    padding: 0px;
    /* background-color: rgb(3, 78, 252); */
    
}

header {
    height: 130vh;
    width: 100%;
    background-color: rgb(3, 78, 252);
}

.navbar {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px;
    color: white;
}

.logo {
    width: 80px;
    margin-right: auto;
}

.unorder-list {
    margin: 0px 0px;
}

.list {
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.submit {
    padding: 10px 30px;
    background: none;
    border: 3px solid white;
    font-size: 16px;
    color: white;
    border-radius: 20px;
}

video {
    display: block;
    margin: auto;
    width: 1200px;
}

.main-heading {
    width: 730px;
    margin: auto;
    overflow: hidden;
    white-space: wrap;
    padding: 70px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    /* display: block; */
}

.main-heading h1 {
    color: white;
}

.main-div {
    background-color: white;
    padding: 50px 0px;
}

.main-quotes {
    width: 60%;
    margin: auto;
    padding-top: 30px;
    text-align: center;

    & .quotes {
        color: black;
        font-size: 24px;
        font-weight: lighter;
    
        
    }
    & .quotes-desc {
        color: gray;
        padding: 20px 0px;

    }

    & .quotes-contact-me {
        color: rgb(78, 181, 255);
        background: none;
        border: none;
        box-shadow: 0px 2px 20px gray;
        border-radius: 20px;
        padding: 15px 25PX;
        letter-spacing: .5rem;

    }
}

/* .quotes {
    color: black;
    font-size: 24px;
    font-weight: lighter;

    /* &-desc {
        color: gray;
        padding: 20px 0px;

    } */

    /* &-contact-me {
        color: rgb(78, 181, 255);
        background: none;
        border: none;
        box-shadow: 0px 2px 20px gray;
        border-radius: 20px;
        padding: 15px 25PX;
        letter-spacing: .5rem;

    } */
/* }  */

.quotes-desc {
    color: gray;
    padding: 20px 0px;
}

.quotes-contact-me {
    color: rgb(78, 181, 255);
    background: none;
    border: none;
    box-shadow: 0px 2px 20px gray;
    border-radius: 20px;
    padding: 15px 25PX;
    letter-spacing: .5rem;
}

.main-blocks {
    
    /* width: 70%;
    margin: auto;
    padding: 50px; */

    /* & .block {
        box-sizing: border-box;
        margin-top: 30px;
        margin-bottom: 30px;

        & .block-left {
            margin-right: 30px;
            margin-left: 40px;
        }

        & .block-right {
            margin-left: 60px;
        }

        & .block-1-desc {
            float: left;
            width: 30%;
            padding: 30px 50px;
            

        } 

        
    }*/
    
}

/* .block {
    width: 70%;
    margin: auto;
    box-sizing: border-box;
}

.block-left {
    margin-right: 30px;
    margin-left: 40px;
}

.block-right {
    margin-left: 60px;
}

.block-1-desc {
    /* float: left;
    width: 30%; */
    /*padding: 30px 50px;
     

}
/* 
.block-1 , .block-2{
    float: left;
    width: 30%;
    padding: 30px 50px;
} */


.block-1-desc h2 {
    font-size: 32px;
}

.block-1-desc p {
    font-size: 1.1rem;
    /* letter-spacing: 2px; */
}

.block a {
    font-size: 10px;
    letter-spacing: 0.1rem;
}

.block img {
    width: 400px;
}


/* .block-1-desc {
    float: left;
    width: 40%;
    padding: 30px;
} */

.about-divum-container {
    width: 70%;
    margin: 5rem auto;
    display: grid;
    /* grid-template-rows: 500px 500px 500px 500px 500px 500px; */
    /* grid-template-columns: 300px 300px 300px 300px 300px 300px; */
    grid-template-rows: repeat(4, 500px);
    grid-template-columns: repeat(8, 200px);
    align-items: center;
}

.item-1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

.item-2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 8;
}

.item-3 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.item-4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 8;
    width: 400px;
}

.item-5 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.item-6 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 8;
    width: 400px;
}

.item-7 {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

.item-8 {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 8;
    width: 400px;
}

.item {
    margin: 0px 100px;
}

.item img {
    width: 400px;
}

/* What-we-build */

.what-we-build-container {
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 20px rgb(235, 235, 235);
    display: grid;
    grid-template-rows: repeat(8, 130px);
    grid-template-columns: repeat(14, 120px);

    /* grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr; */
}

.what-we-build-container .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.what-we-build-container .description {
    width: 75%;
}

.caption {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 6;
    font-size: 36px;
    /* border: 2px solid black; */
}

.caption h1 {
    text-align: right;
}

.startup-container {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 7;
    grid-column-end: 10;
}

.enterprise-container {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 10;
    grid-column-end: 13;
}

.expertise-container {
    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-start: 7;
    grid-column-end: 10;
}

.partnership-container {
    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-start: 10;
    grid-column-end: 13;
}

/* global client */

.global-clients {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    text-align: center;
    padding: 100px 0px;
}

.global-client-navbar {
    /* display: flex;
    justify-content: center; */
    align-items: center;
}

#platforms {
    list-style-type: none;
}

#platforms li {
    display: inline;
    padding: 0px 20px;
    cursor: pointer;
    padding: 0px;
    margin: 12px;
}

.global-client-navbar li:hover {
    padding : 0px;
    margin: 12px;
    border-bottom: 2px solid blue;
    padding-bottom: 3px;
    color: blue;
}

/* #client-gallery {
    display: inline;
    height: 500px;
    width: 800px;
    border: 0px;
    background-position: center;
    background-size: cover;
} */

#client-gallery {
    border: 0px solid white;
}

/* engagement-level */

.engagement-level {
    direction: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
