body{
    margin: 0px auto;
    height: 0px;
    width: 65%;
    padding: 0px;
    /* background-color: rgb(3, 78, 252); */
    
}



header {
    height: 100vh;
    background-color: rgb(3, 78, 252);
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px;
    color: white;
}

.logo {
    width: 80px;
    margin-right: auto;
}

.unorder-list {
    margin: 0px 0px;
}

.list {
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.submit {
    padding: 10px 30px;
    background: none;
    border: 3px solid white;
    font-size: 16px;
    color: white;
    border-radius: 20px;
}

.main-heading {
    padding: 70px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

.main-heading h1 {
    color: white;
}

.main-div {
    background-color: white;
    padding: 50px 0px;
}

.main-quotes {
    width: 67%;
    margin: auto;
    padding-top: 30px;
    text-align: center;

    .quotes {
        color: black;
        font-size: 24px;
        font-weight: lighter;
    
        
    }
    & .quotes-desc {
        color: gray;
        padding: 20px 0px;

    }

    & .quotes-contact-me {
        color: rgb(78, 181, 255);
        background: none;
        border: none;
        box-shadow: 0px 2px 20px gray;
        border-radius: 20px;
        padding: 15px 25PX;
        letter-spacing: .5rem;

    }
}

/* .quotes {
    color: black;
    font-size: 24px;
    font-weight: lighter;

    /* &-desc {
        color: gray;
        padding: 20px 0px;

    } */

    /* &-contact-me {
        color: rgb(78, 181, 255);
        background: none;
        border: none;
        box-shadow: 0px 2px 20px gray;
        border-radius: 20px;
        padding: 15px 25PX;
        letter-spacing: .5rem;

    } */
/* }  */

/* .quotes-desc {
    color: gray;
    padding: 20px 0px;
} */

.quotes-contact-me {
    color: rgb(78, 181, 255);
    background: none;
    border: none;
    box-shadow: 0px 2px 20px gray;
    border-radius: 20px;
    padding: 15px 25PX;
    letter-spacing: .5rem;
}

.main-blocks {
    padding: 50px;

    & .block {
        box-sizing: border-box;
        margin: 100px 0px;
    }
    
}

/* .block {
    box-sizing: border-box;
    margin: 100px 0px;
} */

.block a {
    font-size: 10px;
    letter-spacing: 0.1rem;
}


.block-1-desc {
    float: left;
    width: 40%;
    padding: 30px;
}
